<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>120140149</title>
  </head>
  <style>
    .container {
      width: 100%;
      display: flex;
      max-width: 850px;
      background: #fff;
      border-radius: 15px;
      box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
    }
  </style>
  <body>
    <div class="container">
      {% for movie in data %}
      <h1>{{ movie.title }}</h1>
      <p>{{ movie.desk }}</p>
      {% endfor %}
    </div>
  </body>
</html>
